.footer {
    background-color: #2c3e50;
    color: white;
    padding: 10px 0;
    font-size: 14px;
    margin-top: 60px; /* Aggiunto margine superiore per spaziare dal contenuto sopra */
    .container {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .logo img {
      width: 120px;
    }
    .footer-links a {
      color: white;
      margin: 0 5px;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
    .social-media a {
      color: white;
      margin: 0 5px;
    }
    .footer-bottom {
      text-align: center; 
    }
  }

  
