<div class="signup-container">
    <!-- Titolo della pagina di registrazione -->
    <h2>Registrazione Utente</h2>
    
    <!-- Formulario di registrazione, quando viene inviato chiama il metodo onSubmit() -->
    <form (ngSubmit)="onSubmit()">
        <!-- Campo di input per il nome -->
        <mat-form-field appearance="fill">
            <mat-label>Nome</mat-label>
            <input matInput type="text" [(ngModel)]="user.nome" name="nome" placeholder="Nome" required>
        </mat-form-field>

        <!-- Campo di input per il cognome -->
        <mat-form-field appearance="fill">
            <mat-label>Cognome</mat-label>
            <input matInput type="text" [(ngModel)]="user.cognome" name="cognome" placeholder="Cognome" required>
        </mat-form-field>

        <!-- Campo di input per lo username -->
        <mat-form-field appearance="fill">
            <mat-label>Username</mat-label>
            <input matInput type="text" [(ngModel)]="user.username" name="username" placeholder="Username" required>
        </mat-form-field>

        <!-- Campo di input per l'email -->
        <mat-form-field appearance="fill">
            <mat-label>Email</mat-label>
            <input matInput type="email" [(ngModel)]="user.email" name="email" placeholder="Email" required>
        </mat-form-field>

        <!-- Campo di input per la password -->
        <mat-form-field appearance="fill">
            <mat-label>Enter your password</mat-label>
            <input matInput [type]="hide ? 'password' : 'text'" [(ngModel)]="user.password" name="password" placeholder="Password" required>
            <!-- Pulsante per mostrare/nascondere la password -->
            <button type="button" mat-icon-button matSuffix (click)="hide = !hide" 
                    [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
        </mat-form-field>

        <!-- Pulsante per inviare il formulario -->
        <button type="submit">Registrati</button>
    </form>
</div>
