<nav class="mask">
  <a routerLink="/dashboard">TechHive</a>
  <ul class="list">
    <li *ngIf="!authService.isLoggedIn()"><a routerLink="/login">Login</a></li>
    <li *ngIf="!authService.isLoggedIn()"><a routerLink="/signup">Register</a></li>
    <li *ngIf="authService.isLoggedIn()"><a (click)="logout()">Logout</a></li>
    <li *ngIf="authService.isAdmin() && authService.isLoggedIn()"><a routerLink="/admin-dashboard">Admin Dashboard</a></li>
  </ul>
  <div class="search-container">
    <button class="search" (click)="toggleSearch()">Search</button>
    <input #searchBox type="text" class="search-box" [(ngModel)]="searchText" (keydown.enter)="search()" *ngIf="showSearch" placeholder="Search...">
    <app-cart-dropdown></app-cart-dropdown>
  </div>
</nav>
