.navbar {
    background-color: #333;
    padding: 10px;
  }
  
  .nav-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .nav-list li {
    display: inline-block;
    margin-right: 20px;
  }
  
  .nav-list li:last-child {
    margin-right: 0;
  }
  
  .nav-list li a {
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
  }
  
  .nav-list li a:hover {
    background-color: #555;
    border-radius: 5px;
  }
  
  .nav-list li a i {
    margin-right: 5px;
  }
  