<div class="product-container">
   <!-- <div *ngIf="products.length; else noProducts"> -->
    <div *ngFor="let product of products" class="product" (click)="redirectToProductDetail(product.id)">
      <h3>{{ product.nome }}</h3>
      <img [src]="product.immagine" alt="{{ product.nome }}">
      <p> {{ product.categoria }} | {{product.marca}}</p>
      <p>Prezzo: {{ product.prezzo | currency }}</p>
      <p>Data di messa in vendita: {{ product.data_messa_in_vendita | date }}</p>
    </div>
  <ng-template #noProducts>
    <p>No products found.</p>
  </ng-template> 
</div>
