<p-table [value]="products" [tableStyle]="{ 'min-width': '50rem' }">
    <ng-template pTemplate="caption">
        <div class="flex align-items-center justify-content-between">
            Products
            <div>
                <p-button class="button-refresh" icon="pi pi-refresh" (click)="refreshPage()"></p-button>
                <p-button class="button-add" icon="pi pi-plus" label="Aggiungi" (click)="addItem()"></p-button>
            </div>
        </div>
    </ng-template>
    <ng-template pTemplate="header">
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Categoria</th>
            <th>Prezzo</th>
            <th>Messa in vendita</th>
            <th></th>
            <th></th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-product>
        <tr>
            <td>{{ product.id }}</td>
            <td>{{ product.nome }}</td>
            <td>{{ product.categoria }}</td>
            <td>{{ product.prezzo | currency }}</td>
            <td>{{ product.data_messa_in_vendita | date }}</td>
            <td>
                <p-button label="Modifica" icon="pi pi-pencil" (click)="editProduct(product.id)"></p-button>
            </td>
            <td>
                <p-button label="Elimina" icon="pi pi-trash" (click)="deleteProduct(product)" class="p-button-danger"></p-button>
            </td>
        </tr>
    </ng-template>
    <ng-template pTemplate="summary">
        <div class="flex align-items-center justify-content-between">
            In total there are {{products ? products.length : 0 }} products.
        </div>
    </ng-template>
</p-table>
